<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DataSource" value="DESKTOP-NJ4NH9A\SQLEXPRESS"/>
		<add key="InitialCatalog" value="Restorant"/>
		<add key="UserID" value="DESKTOP-NJ4NH9A\sakin"/>
	</appSettings>
</configuration>